<template>
    <div class="modal-overlay">
      <div class="modal-container">
        <button class="btn" v-on:click="$emit('accept')">Accept</button>
        <button class="btn btn_red" v-on:click="$emit('decline')">Decline</button>
      </div>
    </div>
</template>

<style scoped>
.modal-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-container {
  position: absolute;
  background-color: #8787c720;
  height: 20vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 2px solid black;
  padding: 10px;
  border-radius: 3px;
  margin-right: 10px;
}

.btn_red {
  background-color: #bd2525;
}
</style>
