<template>
  <div id="app">
    <h1>Promise modal</h1>
    <button :disabled="isDisabled" class="create-button" v-on:click="handleClick">Press me</button>
    <h3>{{ text }}</h3>
  </div>
</template>

<script>
import Vue from 'vue';

import modalService from './services/modalService';

import Modal from './components/Modal.vue';

export default Vue.extend({
  name: 'app',
  data() {
    return {
      service: modalService,
      isDisabled: false,
      text: '',
    };
  },
  methods: {
    async handleClick() {
      this.text = '';
      this.isDisabled = true;
      await this.service.open(Modal)
        .then(() => {
          this.isDisabled = false;
          this.text = 'Пользователь согласился, все хорошо';
        })
        .catch(() => {
          this.isDisabled = false;
          this.text = 'Пользователь отклонил, все плохо';
        });
    },
  },
});
</script>

<style>
body {
  margin: 0;
  background-color: #dee3d7;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.create-button {
  background-color: #f46f6f;
  padding: 5px;
  border-radius: 3px;
}
</style>
